<div class='landing-container'>

  <div class="landing-content">

    <div class="title big-title">Inturma agora é UpMe!</div>
    <br>
    
    <div class="title med-title">Logo logo estaremos no ar</div>
    <br>
    <br>

    <newsletter></newsletter>

    <br>
    <iframe width="200" height="130" src="https://www.youtube.com/embed/Ehr_MLxgFZY" frameborder="0" allowfullscreen></iframe>
    <iframe width="200" height="130" src="https://www.youtube.com/embed/ZZciPmuiQ-0" frameborder="0" allowfullscreen></iframe>

  </div>

</div>

<div id="bottom-label">Comece profissional</div> 
<div id="bottom-logo"></div>
